@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Banco de Palavras</h1>
    <p>Este site é um banco de palavras. Para ter acesso façã Login.</p>
    <img src="~/images/logo.png" alt="logo" height="300px" width="300px">
</div>
