@{ ViewData["Title"] = "Login - "; }

@if(TempData["MensagemErro"] != null){
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}
<h1 class="h-3">Login</h1>
<div class="text-center">

    <form method="POST" class="form-personalizado">
        <img class="mb-4 border border-secondary rounded p-1" src="~/images/icone-usuario.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="Email" class="sr-only">Email address</label>
        <input type="email" name="email" id="Email" value="guest@guest.com" class="form-control mb-1" placeholder="Email">
        <label for="Senha" class="sr-only ">Senha</label>
        <input type="password" name="senha" id="Senha" value="guest123" class="form-control mb-1" placeholder="Senha">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button> @if(ViewBag.Mensage != null){
        <div class="alert alert-danger mt-1" role="alert">
            @ViewBag.Mensage
        </div>
        }
    </form>
</div>