@{ ViewData["Title"] = "Login - "; }
<div class="text-center">

    <form method="POST" class="form-signin">
        <img class="mb-4" src="" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="Email" class="sr-only">Email address</label>
        <input type="email" name="email" id="Email" class="form-control mb-1" placeholder="Email">
        <label for="Senha" class="sr-only ">Senha</label>
        <input type="password" name="senha" id="Senha" class="form-control mb-1" placeholder="Senha">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button> @if(ViewBag.Mensage != null){
        <div class="alert alert-danger mt-1" role="alert">
            @ViewBag.Mensage
        </div>
        }
    </form>
</div>